<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
<div>
    <h1>Posts</h1>
    {% for post in posts %}
    <div>
        <a href="{% url 'post_detail' post_pk=post.pk %}">{{ post.title }}</a>
    </div>
    <p>{{ post.body }}</p>
    <p>{{ post.published_date }}</p>
    <p>
        <a href="{% url 'post_create' %}">create</a>
        <a href="{% url 'post_update' post_pk=post.pk %}">edit</a>
        <a href="{% url 'post_delete' post_pk=post.pk %}">delete</a>
    </p>
    {% endfor %}
</div>
</body>
</html>